<nav class="navbar navbar-light bg-light">
    <div class="container">
    <span class="navbar-text" href="#">
        <span class="navbar-text">
            <span ></span>
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5521981840572&text=*Envie-nos%20sua%20mensagem*"> 21 981840572</a>
            /
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5521974096349&text=*Envie-nos%20sua%20mensagem*"> 21 974096349 </a> l
        </span>
        <span class="navbar-text"> Email: <a mailto=''>aercaricaturasonline03@gmail.com</a></span>
    </span>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class='nav-link' href="tracking.html">
            Acompanhar pedido
            </a>
        </li>
        <li class="nav-item">
            <a href="contact.html" class="nav-link">
            Fazer Pedido
            </a>
        </li>
    </ul>
    </div>
</nav>
